# Simple Menu Created by Lance http://www.pendrivelinux.com for YUMI - (Your USB Multiboot Installer)

prompt 0
timeout 100

menu title CAINE 3.0
menu AUTOBOOT Booting in # seconds...
menu TABMSG  http://www.caine-live.net
menu background /multiboot/caine/isolinux/splash.png
menu color sel	7;37;40  #e0000000 #f0ff8000 all
menu color title 1;37;24 #c0ffffff #00000000 std
menu width 64
menu height 20
menu margin 0
menu color border 30;47 #00000000 #00000000 none

default live

label live
  menu label live - boot the Live System
  kernel /multiboot/caine/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt live-media-path=/multiboot/caine/casper/ file=/cdrom/preseed/custom.seed boot=casper initrd=/multiboot/caine/casper/initrd.gz quiet splash --

label xforcevesa
  menu label xforcevesa - boot Live in safe graphics mode
  kernel /multiboot/caine/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt live-media-path=/multiboot/caine/casper/ file=/cdrom/preseed/custom.seed boot=casper xforcevesa initrd=/multiboot/caine/casper/initrd.gz quiet splash --

label textonly
  menu label textonly - boot Live in textonly mode
  kernel /multiboot/caine/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt live-media-path=/multiboot/caine/casper/ file=/cdrom/preseed/custom.seed boot=casper text initrd=/multiboot/caine/casper/initrd.gz quiet --

label nomodeset
  menu label nomodeset - boot the Live System NOMODESET for video problems
  kernel /multiboot/caine/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt live-media-path=/multiboot/caine/casper/ file=/cdrom/preseed/custom.seed boot=casper nomodeset initrd=/multiboot/caine/casper/initrd.gz --

label debug
  menu label debug - boot the Live System without splash and show boot info
  kernel /multiboot/caine/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt live-media-path=/multiboot/caine/casper/ file=/cdrom/preseed/custom.seed boot=casper initrd=/multiboot/caine/casper/initrd.gz nosplash --

label install
  menu label install - start the installer directly
  kernel /multiboot/caine/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt live-media-path=/multiboot/caine/casper/ file=/cdrom/preseed/custom.seed boot=casper only-ubiquity initrd=/multiboot/caine/casper/initrd.gz quiet splash --

MENU SEPARATOR  
label <-- Back to Main Menu
 kernel vesamenu.c32
 append /multiboot/syslinux.cfg 