# Simple Menu Created by Lance http://www.pendrivelinux.com for YUMI - (Your USB Multiboot Installer)
menu title Deft 7 Linux
menu background #00000000
MENU MARGIN 10
MENU VSHIFT 12
MENU ROWS 6
MENU TABMSGROW 12
menu color title 1;36;44 #66A0FF #00000000 none
menu color hotsel 30;47 #C00000 #DDDDDDDD
menu color sel 30;47 #000000 #FFFFFFFF
menu color border 30;44	#D00000 #00000000 std
menu color scrollbar 30;44 #DDDDDDDD #00000000 none

menu tabmsg Press ENTER to boot or TAB to edit a menu entry

default live

label live
  menu label ^DEFT Linux LIVE
  kernel /multiboot/deft/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/deft/casper file=/multiboot/deft/cdrom/preseed/lubuntu.seed boot=casper initrd=/multiboot/deft/casper/initrd.lz --

label live-toram
  menu label ^DEFT Linux LIVE TORAM
  kernel /multiboot/deft/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/deft/casper file=/multiboot/deft/cdrom/preseed/lubuntu.seed boot=casper toram initrd=/multiboot/deft/casper/initrd.lz --

label live-install
  menu label ^Install DEFT Linux
  kernel /multiboot/deft/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/deft/casper file=/multiboot/deft/cdrom/preseed/lubuntu.seed boot=casper only-ubiquity initrd=/multiboot/deft/casper/initrd.lz --
  
MENU SEPARATOR  
label <-- Back to Main Menu
  kernel vesamenu.c32
  append /multiboot/syslinux.cfg 