# Simple Menu Created by Lance http://www.pendrivelinux.com for YUMI - (Your USB Multiboot Installer)
menu title Jolicloud Boot Menu
menu background /multiboot/jolicloud/isolinux/splash.png
MENU MARGIN 10
MENU VSHIFT 13
MENU ROWS 5
MENU TABMSGROW 12
menu color title 1;36;44 #66A0FF #00000000 none
menu color hotsel 30;47 #C00000 #DDDDDDDD
menu color sel 30;47 #000000 #FFFFFFFF
menu color border 30;44	#D00000 #00000000 std
menu color scrollbar 30;44 #DDDDDDDD #00000000 none

default live

label live
  menu label ^Run Jolicloud from this USB
  kernel /multiboot/jolicloud/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/jolicloud/casper/ file=/multiboot/jolicloud/cdrom/preseed/jolicloud.seed boot=casper initrd=/multiboot/jolicloud/casper/initrd.gz splash --
label live-install
  menu label ^Install Jolicloud
  kernel /multiboot/jolicloud/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/jolicloud/casper/ file=/multiboot/jolicloud/cdrom/preseed/jolicloud.seed boot=casper only-ubiquity initrd=/multiboot/jolicloud/casper/initrd.gz splash --
  
MENU SEPARATOR  
label <-- Back to Main Menu
  kernel vesamenu.c32
  append /multiboot/syslinux.cfg 