# Libert‚-specific kernel parameters (all are optional):
#     cdroot_type={auto,vfat,ext4,iso9660,squashfs} - boot media filesystem type
#     cdroot_flags=...   - boot media mount flags
#     cdroot=/dev/xxx    - boot media device (can be a glob pattern)
#     cdroot_hash=<hex>  - verify given SquahFS image hexadecimal SHA-256 hash
#     loop=...           - path to SquashFS image on boot media
#                          (must have cdroot_type=squashfs if unspecified)
#     debug              - pause initramfs before mount probing and before booting
#     readonly           - set read-only access for boot media device (no OTFE)
#     toram              - copy SquashFS image to RAM (useful for CDs)
#
#     gentoo=root        - unlock root password ("liberte")
#     gentoo=xvesa       - force VESA video driver in Xorg
#     gentoo=xfb         - force framebuffer video driver in Xorg (useful for EFI)
#     gentoo=i2p         - enable I2P
#     gentoo=nosettings  - do not save/restore user-level application settings
#     gentoo=nox         - disable X server configuration (manual "startx" is ok)
#     gentoo=nologo      - disable desktop background logo (includes lock screen)
# "gentoo=" prefix is optional, and can combine several comma-separated parameters
#
# Other parameters: http://www.kernel.org/doc/Documentation/kernel-parameters.txt
#                   http://www.kernel.org/doc/Documentation/fb/modedb.txt
#     video=[driver:]800x600-32 - select framebuffer video mode
#     nomodeset                 - disable kernel mode-setting
#     quiet, debug, loglevel=n  - control kernel logging verbosity
#     memtest=n                 - simple RAM test (lowmem-only on 32-bit kernel)
#
# Video issues troubleshooting:
#     video=LVDS-1:e (/ d)  - toggle video outputs (see /sys/class/drm)
#     fbcon=map:1           - framebuffer driver should not take over the console
#     noacpi, noapic        - disable ACPI (very problematic), IOAPIC altogether
#     acpi_backlight=vendor - prefer vendor-specific driver for backlight control
#     acpi_osi=Linux        - add Linux to supported ACPI OS interfaces
#                             (apply *both* options to fix incorrect backlight)

DEFAULT liberte
TIMEOUT 70

UI   /multiboot/liberte/liberte/boot/syslinux/menu.c32
FONT /multiboot/liberte/liberte/boot/syslinux/ter-i16n.psf

MENU TITLE Libert‚ Linux Boot Menu
MENU CLEAR


LABEL liberte
    MENU LABEL Libert‚ Linux 
    LINUX  /multiboot/liberte/liberte/boot/kernel-x86.zi
    INITRD /multiboot/liberte/liberte/boot/initrd-x86.xz
    APPEND loop=/multiboot/liberte/liberte/boot/root-x86.sfs cdroot_type=auto readonly cdroot_flags=noatime,noexec,flush,iocharset=iso8859-1,utf8,uid=2101,gid=9000,umask=0177,dmask=077 video=800x600-32 quiet memtest=1 loglevel=4
    TEXT HELP
Select for normal boot.
Optional params: readonly, toram, gentoo={i2p,nosettings}.
    ENDTEXT

LABEL vesa
    MENU LABEL Libert‚ Linux (VESA Graphics)
    LINUX  /multiboot/liberte/liberte/boot/kernel-x86.zi
    INITRD /multiboot/liberte/liberte/boot/initrd-x86.xz
    APPEND loop=/multiboot/liberte/liberte/boot/root-x86.sfs cdroot_type=auto readonly cdroot_flags=noatime,noexec,flush,iocharset=iso8859-1,utf8,uid=2101,gid=9000,umask=0177,dmask=077 nomodeset gentoo=xvesa quiet memtest=1 loglevel=4
    TEXT HELP
Disables framebuffer console and forces VESA graphics in X.
Optional params: readonly, toram, gentoo={i2p,nosettings}.
    ENDTEXT

LABEL console
    MENU LABEL Libert‚ Linux (Administrator Console)
    LINUX  /multiboot/liberte/liberte/boot/kernel-x86.zi
    INITRD /multiboot/liberte/liberte/boot/initrd-x86.xz
    APPEND loop=/multiboot/liberte/liberte/boot/root-x86.sfs cdroot_type=auto readonly cdroot_flags=noatime,noexec,flush,iocharset=iso8859-1,utf8,uid=2101,gid=9000,umask=0177,dmask=077 nomodeset gentoo=nox,root memtest=2 earlyprintk=vga loglevel=6
    TEXT HELP
Select for troubleshooting. Add "debug" for initramfs shell.
After boot, press Alt-F2 to switch to root console.
Note that root password ("liberte") is enabled after boot.
    ENDTEXT

MENU SEPARATOR

# 0=reset, 1/22=bold, 4/24=underline, 5/25=blink, 7/27=reverse
# 38/39=underline with default fg, 49=default bg
# 30-37/40-47=blk,red,grn,brn,blue,mag,cyan,wh fg/bg

MENU COLOR screen      37;40
MENU COLOR border      1;37;44
MENU COLOR title       1;37;44

MENU COLOR unsel       37;44
MENU COLOR sel         1;33;41

MENU COLOR tabmsg      1;37;40
MENU COLOR cmdmark     1;33;40

MENU COLOR cmdline     37;40
MENU COLOR timeout_msg 37;40
MENU COLOR timeout     1;37;40
MENU COLOR help        37;40

MENU SEPARATOR	
label <-- Back to Main Menu
 kernel vesamenu.c32
 append /multiboot/syslinux.cfg 