# Original isolinux menu modified by Lance http://www.pendrivelinux.com for use within YUMI - (Your USB Multiboot Installer)
default vesamenu.c32
prompt 0
timeout 300

menu title OSGeo Live 5.5
menu background /multiboot/osgeo/isolinux/splash.png
menu color title 1;37;44 #c0ffffff #00000000 std

label live
  menu label live - boot the Live System
  kernel /multiboot/osgeo/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt boot=casper floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/osgeo/casper file=/multiboot/osgeo/preseed/custom.seed boot=casper initrd=/multiboot/osgeo/casper/initrd.gz --

label xforcevesa
  menu label xforcevesa - boot Live in safe graphics mode
  kernel /multiboot/osgeo/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt boot=casper floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/osgeo/casper file=/multiboot/osgeo/preseed/custom.seed boot=casper xforcevesa initrd=/multiboot/osgeo/casper/initrd.gz --

label install
  menu label install - start the installer directly
  kernel /multiboot/osgeo/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt boot=casper floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/osgeo/casper file=/multiboot/osgeo/preseed/custom.seed boot=casper only-ubiquity initrd=/multiboot/osgeo/casper/initrd.gz --

label textonly
  menu label textonly - boot Live in textonly mode
  kernel /multiboot/osgeo/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt boot=casper floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/osgeo/casper file=/multiboot/osgeo/preseed/custom.seed boot=casper textonly initrd=/multiboot/osgeo/casper/initrd.gz quiet --

label debug
  menu label debug - boot the Live System without splash and show boot info
  kernel /multiboot/osgeo/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt boot=casper floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/osgeo/casper file=/multiboot/osgeo/preseed/custom.seed boot=casper initrd=/multiboot/osgeo/casper/initrd.gz nosplash --

MENU SEPARATOR  
 label <-- Back to Main Menu
 kernel vesamenu.c32
 append /multiboot/syslinux.cfg 