# Simple Menu created or edited by Lance http://www.pendrivelinux.com for YUMI - (Your USB Multiboot Installer)
menu title RIP Linux Boot Menu
menu background yumi.png
MENU WIDTH 72
MENU MARGIN 10
MENU VSHIFT 3
MENU HSHIFT 6
MENU ROWS 15
MENU TABMSGROW 20
MENU TIMEOUTROW 22
menu color title 1;36;44 #66A0FF #00000000 none
menu color hotsel 30;47 #C00000 #DDDDDDDD
menu color sel 30;47 #000000 #FFFFFFFF
menu color border 30;44	#D00000 #00000000 std
menu color scrollbar 30;44 #DDDDDDDD #00000000 none

default Boot Linux system! (32-bit kernel)

LABEL Boot Linux system! (32-bit kernel)
KERNEL /multiboot/rip/boot/kernel32
APPEND vga=normal video=640x400 initrd=/multiboot/rip/boot/rootfs.cgz root=/dev/ram0 rw

LABEL - Boot Linux system! (skip keymap prompt)
KERNEL /multiboot/rip/boot/kernel32
APPEND vga=normal video=640x400 nokeymap initrd=/multiboot/rip/boot/rootfs.cgz root=/dev/ram0 rw

LABEL Boot Linux system to X! (32-bit kernel)
KERNEL /multiboot/rip/boot/kernel32
APPEND vga=normal video=640x400 xlogin initrd=/multiboot/rip/boot/rootfs.cgz root=/dev/ram0 rw

LABEL - Boot Linux system to X! (skip keymap prompt)
KERNEL /multiboot/rip/boot/kernel32
APPEND vga=normal video=640x400 xlogin nokeymap initrd=/multiboot/rip/boot/rootfs.cgz root=/dev/ram0 rw

LABEL Boot Linux system to X! (Framebuffer) (32-bit kernel)
TEXT HELP
If X doesn't start above, try this Framebuffer option. The resolution is
'1024x768x16', if that doesn't work press the [Tab] key and change 'vga=791'.
Use Hardware Detection Tool below to see your available VESA Modes.
ENDTEXT
KERNEL /multiboot/rip/boot/kernel32
APPEND xlogin xdrver=fbdev initrd=/multiboot/rip/boot/rootfs.cgz root=/dev/ram0 rw vga=791

LABEL - Boot Linux system to X! (skip keymap prompt)
KERNEL /multiboot/rip/boot/kernel32
APPEND xlogin xdriver=fbdev nokeymap initrd=/multiboot/rip/boot/rootfs.cgz root=/dev/ram0 rw vga=791

LABEL Boot Linux system! (64-bit kernel)
KERNEL /multiboot/rip/boot/kernel64
APPEND vga=normal initrd=/multiboot/rip/boot/rootfs.cgz root=/dev/ram0 rw

LABEL - Boot Linux system! (skip keymap prompt)
KERNEL /multiboot/rip/boot/kernel64
APPEND vga=normal nokeymap initrd=/multiboot/rip/boot/rootfs.cgz root=/dev/ram0 rw

LABEL Boot Linux system on partition! (32-bit kernel)
TEXT HELP
Use kernel to boot Linux system on specified partition. Press Tab key
to edit command line. Put 'root=/dev/sda2' etc.
ENDTEXT
KERNEL /multiboot/rip/boot/kernel32
APPEND vga=normal ro root=/dev/XXXX

LABEL Boot Linux system on partition! (64-bit kernel)
TEXT HELP
Use kernel to boot Linux system on specified partition. Press Tab key
to edit command line. Put 'root=/dev/sda2' etc.
ENDTEXT
KERNEL /multiboot/rip/boot/kernel64
APPEND vga=normal ro root=/dev/XXXX

LABEL Boot Memory Tester!
KERNEL /multiboot/rip/boot/isolinux/memtest
APPEND -

LABEL Boot Hardware Detection Tool!
KERNEL /multiboot/rip/boot/isolinux/hdt.c32
APPEND modules_pcimap=/multiboot/rip/boot/isolinux/modules.pci

LABEL Boot GRUB bootloader!
KERNEL /multiboot/rip/boot/grub4dos/grub.exe
APPEND --config-file=/multiboot/rip/boot/syslinux/menu.lst
  
MENU SEPARATOR 
label <-- Back to Main Menu
 kernel vesamenu.c32
 append /multiboot/syslinux.cfg 