# Simple Menu Created by Lance http://www.pendrivelinux.com for YUMI - (Your USB Multiboot Installer)
menu title Sugar on a Stick Boot Menu
menu background /multiboot/yumi.png
MENU MARGIN 10
MENU VSHIFT 8
MENU ROWS 8
MENU TABMSGROW 14
menu color title 1;36;44 #66A0FF #00000000 none
menu color hotsel 30;47 #C00000 #DDDDDDDD
menu color sel 30;47 #000000 #FFFFFFFF
menu color border 30;44	#D00000 #00000000 std
menu color scrollbar 30;44 #DDDDDDDD #00000000 none
default live

label live
menu label Sugar on a Stick
KERNEL /multiboot/sos/isolinux/vmlinuz0
APPEND initrd=/multiboot/sos/isolinux/initrd0.img root=live:LABEL=MULTIBOOT live_dir=/multiboot/sos/LiveOS rootfstype=vfat ro liveimg quiet rhgb rd_NO_LUKS rd_NO_MD

label basic video
menu label Sugar on a Stick (Basic Video)
KERNEL /multiboot/sos/isolinux/vmlinuz0
APPEND initrd=/multiboot/sos/isolinux/initrd0.img root=live:LABEL=MULTIBOOT live_dir=/multiboot/sos/LiveOS rootfstype=vfat ro liveimg quiet rhgb rd_NO_LUKS rd_NO_MD xdriver=vesa nomodeset

MENU SEPARATOR 
label <-- Back to Main Menu
 kernel vesamenu.c32
 append /multiboot/syslinux.cfg 