# syslinux.cfg menu modified by Lance ©2012 http://www.pendrivelinux.com for use within YUMI
default vesamenu.c32
timeout 600

menu title Welcome to XBMCbuntu
menu background #00000000
MENU WIDTH 72
MENU MARGIN 10
MENU VSHIFT 3
MENU HSHIFT 6
MENU ROWS 15
MENU TABMSGROW 20
MENU TIMEOUTROW 22
menu color title 1;36;44 #66A0FF #00000000 none
menu color hotsel 30;47 #C00000 #DDDDDDDD
menu color sel 30;47 #000000 #FFFFFFFF
menu color border 30;44	#D00000 #00000000 std
menu color scrollbar 30;44 #DDDDDDDD #00000000 none 

default live
label live
  menu label Try XBMCbuntu without installing
  kernel /multiboot/xbmcbuntu/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/xbmcbuntu/casper boot=casper initrd=/multiboot/xbmcbuntu/casper/initrd.lz quiet splash --
label live-install
  menu label Install XBMCbuntu
  kernel /multiboot/xbmcbuntu/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/xbmcbuntu/casper file=/multiboot/xbmcbuntu/preseed/ubuntu.seed boot=casper only-ubiquity debug-ubiquity initrd=/multiboot/xbmcbuntu/casper/initrd.lz quiet splash --
label live-install-setdpi
  menu label Install XBMCbuntu with fixed dpi (120x120)
  kernel /multiboot/xbmcbuntu/casper/vmlinuz
  append cdrom-detect/try-usb=true noprompt floppy.allowed_drive_mask=0 ignore_uuid live-media-path=/multiboot/xbmcbuntu/casper file=/multiboot/xbmcbuntu/preseed/ubuntu.seed boot=casper only-ubiquity debug-ubiquity xbmc=setdpi initrd=/multiboot/xbmcbuntu/casper/initrd.lz quiet splash --

label <-- Back to Main Menu
 kernel vesamenu.c32
 append /multiboot/syslinux.cfg 